# --- CÉREBRO E MEMÓRIA ---
ollama
chromadb

# --- VISÃO COMPUTACIONAL ---
# Importante: Usamos a versão 'contrib' pois ela contém o módulo 'face' (LBPH)
numpy
opencv-contrib-python

# --- ÁUDIO (OUVIDOS) ---
pvporcupine
pvrecorder
SpeechRecognition
pyaudio

# --- ÁUDIO (FALA) ---
edge-tts
pyttsx3
pygame

# --- FERRAMENTAS E UTILITÁRIOS ---
pywhatkit
keyboard
requests